.bet {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #142e3f;
    border-radius: 7px 7px 0 0;
    height: 52px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
}

.cartMenu {
    display: flex;
    background: #01b3b3;
    border-radius: 0 0 7px 7px;
    padding: 6px 0;
}

.cartMenuItem {
    flex-basis: 0;
    flex-grow: 1;
    color: #9bd4d4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    cursor: not-allowed;
}